In [130]:
import pandas as pd
from decimal import Decimal

In [131]:
df = pd.read_csv('resultss.csv')

In [132]:
df

,abandons,account_id,actions_per_min,ancient_kills,assists,backpack_0,backpack_1,backpack_2,buyback_count,camps_stacked,...,start_time,stuns,teamfight_participation,total_gold,total_xp,tower_damage,tower_kills,towers_killed,win,xp_per_min
0,0,381798591.0,131.0,0.0,10,0.0,0.0,0.0,0.0,0.0,...,1527006038,26.178345,0.500000,22246,27965.0,4784.0,3.0,3.0,1,714
1,0,NaN,176.0,0.0,12,0.0,0.0,0.0,0.0,3.0,...,1527006038,0.000000,0.526316,16724,18721.0,1458.0,0.0,0.0,1,478
2,0,NaN,192.0,0.0,17,0.0,0.0,0.0,0.0,0.0,...,1527006038,43.595947,0.684211,13238,14961.0,381.0,0.0,0.0,1,382
3,0,110870904.0,150.0,0.0,17,0.0,0.0,0.0,0.0,0.0,...,1527006038,7.492188,0.578947,14530,20249.0,83.0,0.0,0.0,1,517
4,0,NaN,94.0,12.0,9,182.0,0.0,181.0,0.0,0.0,...,1527006038,0.000000,0.368421,23539,27886.0,7723.0,2.0,2.0,1,712
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29465,0,111575715.0,NaN,NaN,23,NaN,NaN,NaN,NaN,NaN,...,1360828234,NaN,NaN,16555,21858.0,619.0,NaN,NaN,1,305
29466,0,82994873.0,NaN,NaN,24,NaN,NaN,NaN,NaN,NaN,...,1360828234,NaN,NaN,13616,17701.0,433.0,NaN,NaN,1,247
29467,0,111213639.0,NaN,NaN,12,NaN,NaN,NaN,NaN,NaN,...,1360828234,NaN,NaN,42785,32393.0,8381.0,NaN,NaN,1,452
29468,0,111242136.0,NaN,NaN,22,NaN,NaN,NaN,NaN,NaN,...,1360828234,NaN,NaN,27161,32823.0,1256.0,NaN,NaN,1,458
29469,0,120236951.0,NaN,NaN,10,NaN,NaN,NaN,NaN,NaN,...,1360828234,NaN,NaN,23363,29455.0,2092.0,NaN,NaN,1,411

In [133]:
df_my_match = df[df['account_id'] == 120236951] 
win_lose = (df_my_match['win'].value_counts(normalize=True) * 100).round(1)

In [134]:
df_my_match.reset_index(drop = True)

,abandons,account_id,actions_per_min,ancient_kills,assists,backpack_0,backpack_1,backpack_2,buyback_count,camps_stacked,...,start_time,stuns,teamfight_participation,total_gold,total_xp,tower_damage,tower_kills,towers_killed,win,xp_per_min
0,0,120236951.0,172.0,0.0,9,46.0,77.0,38.0,0.0,2.0,...,1527006038,77.030624,0.652174,17585,18095.0,204.0,0.0,0.0,0,462
1,0,120236951.0,131.0,5.0,6,36.0,0.0,0.0,0.0,1.0,...,1527002098,24.728760,0.692308,22085,26207.0,776.0,0.0,0.0,0,674
2,0,120236951.0,119.0,25.0,12,0.0,0.0,46.0,0.0,1.0,...,1526954973,0.132905,0.625000,32321,28189.0,4359.0,1.0,1.0,1,539
3,0,120236951.0,139.0,0.0,16,46.0,182.0,0.0,0.0,0.0,...,1526951613,68.404335,0.433962,22224,27947.0,436.0,1.0,1.0,1,625
4,0,120236951.0,NaN,NaN,17,0.0,100.0,0.0,NaN,NaN,...,1526916086,NaN,NaN,35907,38341.0,3501.0,NaN,NaN,1,756
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2942,0,120236951.0,NaN,NaN,11,NaN,NaN,NaN,NaN,NaN,...,1362892305,NaN,NaN,24999,32529.0,4472.0,NaN,NaN,1,648
2943,0,120236951.0,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,...,1362217193,NaN,NaN,9678,13185.0,0.0,NaN,NaN,0,376
2944,0,120236951.0,NaN,NaN,13,NaN,NaN,NaN,NaN,NaN,...,1362214343,NaN,NaN,12373,12940.0,2411.0,NaN,NaN,1,479
2945,0,120236951.0,NaN,NaN,12,NaN,NaN,NaN,NaN,NaN,...,1361436399,NaN,NaN,10746,10016.0,2005.0,NaN,NaN,1,384
2946,0,120236951.0,NaN,NaN,10,NaN,NaN,NaN,NaN,NaN,...,1360828234,NaN,NaN,23363,29455.0,2092.0,NaN,NaN,1,411

In [135]:

df_my_match = df_my_match[['kda','kills_per_min', 'gold_per_min','tower_damage', 'xp_per_min', 'patch','last_hits','match_id','radiant_win','win']]

In [136]:
df_my_match

,kda,kills_per_min,gold_per_min,tower_damage,xp_per_min,patch,last_hits,match_id,radiant_win,win
7,1,0.153191,449,204.0,462,34.0,210,3907772517,True,0
13,6,0.308616,568,776.0,674,34.0,330,3907646053,False,0
29,4,0.152964,618,4359.0,539,34.0,430,3906434764,False,1
35,2,0.178904,497,436.0,625,34.0,217,3906388568,False,1
40,4,0.216891,708,3501.0,756,34.0,520,3905696833,True,1
...,...,...,...,...,...,...,...,...,...,...
29428,3,0.278884,498,4472.0,648,7.0,165,145625737,False,1
29439,0,0.142586,276,0.0,376,7.0,112,139512319,True,0
29444,17,0.148057,458,2411.0,479,7.0,78,139485426,True,1
29458,4,0.153355,412,2005.0,384,7.0,50,131429532,False,1
29469,2,0.111628,326,2092.0,411,7.0,209,124963373,False,1

In [137]:
df_my_match.groupby('patch')['match_id'].unique()

patch
7.0     [201427605, 186221547, 186188281, 186157469, 1...
9.0     [485922711, 485778855, 485645933, 485538192, 4...
10.0    [629501576, 625888176, 624429299, 620620078, 6...
11.0    [864054861, 858404866, 858380967, 854869996, 8...
13.0    [1435268564, 1434904740, 1433728616, 143366188...
14.0    [1569751120, 1558225668, 1558180617, 152661279...
15.0    [2006018453, 2005927434, 2005863740, 200578623...
16.0    [2319998168, 2319938600, 2319874028, 231801414...
17.0    [2430280524, 2429686923, 2429514638, 242928671...
18.0    [2620627162, 2586031887, 2584240367, 258338833...
19.0    [2856953267, 2856892264, 2856278461, 285616270...
20.0    [2986132693, 2986096096, 2985533984, 298548557...
21.0    [3057536984, 3057512520, 3057057658, 305698637...
22.0    [3073247155, 3073172193, 3072008101, 307197010...
23.0    [3108588763, 3108439307, 3107093713, 310701356...
24.0    [3180260015, 3180165015, 3180032702, 317889165...
25.0    [3528450895, 3528240746, 3527906745, 352667958...
26.0    [3669674224, 3659310755, 3656427725, 357697010...
27.0                 [3723798005, 3717086184, 3716508826]
28.0    [3757326622, 3757234006, 3756704553, 375664628...
29.0    [3780923978, 3780663296, 3780256552, 378020871...
30.0    [3804322816, 3804227664, 3803730107, 380365053...
31.0    [3827923180, 3827859180, 3827690035, 382761876...
32.0    [3850654375, 3850595656, 3848218142, 384757129...
33.0    [3865856041, 3856246416, 3854328547, 385427365...
34.0    [3907772517, 3907646053, 3906434764, 390638856...
Name: match_id, dtype: object

In [174]:
df_win = df_my_match[df_my_match['win']==1]['gold_per_min'].dropna().value_counts().sort_index()
df_matches = df_my_match['gold_per_min'].dropna().value_counts().sort_index()

In [176]:
win_rate = (df_win / df_matches)

In [177]:
win_rate.index

Int64Index([100, 124, 134, 143, 144, 156, 157, 163, 164, 165,
            ...
            848, 858, 876, 880, 893, 902, 909, 911, 931, 989],
           dtype='int64', length=610)